/* ! NAVBAR START */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 30px 5px rgb(177, 177, 177);
}
.topnav {
    background: transparent;
    float: right;
}
/* ? NAVBAR LOGO START */

.nav_logo img {
    margin-left: 570px;
    width: 66px;
    height: auto;
}
.nav_logo {
    text-decoration: none;
    color: rgb(23, 0, 153);
    font-weight: 700;
}


/* ? NAVBAR LOGO END */
.topnav a {
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}
/* ! NAVBAR END */
body {
    background: #f5f5f5;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;
}