/* Add a black background color to the top navigation */
.topnav {
    background: transparent;
    float: right;
}
/* ? NAVBAR LOGO START */
.nav_logo img:hover {
    transition: .2s;
    opacity: 0;
}
.nav_logo img {
    margin-left: 570px;
    width: 66px;
    height: auto;
}
.nav_logo {
    text-decoration: none;
    color: rgb(23, 0, 153);
    font-weight: 700;
}

.nav_logo a:hover {
    transition: 0.3s;
    color: red;
}
.overlay img {
    margin-left: 570px;
    width: 66px;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.nav_container_logo {
    position: relative;
}
.nav_container_logo:hover .overlay {
    opacity: 1;
}

/* ? NAVBAR LOGO END */
  /* Style the links inside the navigation bar */
.topnav a {
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  /* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

body {
    background: #f5f5f5;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;
}