<!-- ! FELIPE AKIO C. MURATA / MATHEUS SANTOS CASTIÇO / RAFAEL CABRAL JESUS
     ! COMEÇO: 11/05/2022               -             TCM KINGDOM       -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/matheus.css">

</head>

<body>
    <!-- ? ------------------------------------------ NAVBAR ----------------------------------------------------------------------------------------------------->
<div class="navbar">

    <a href="#" class="nav_logo"><img src="../img/safeimagekit-pixel-art.pixil-removebg-preview (1).png" alt="Kingdom Logo" class="img_logo" style="vertical-align:middle"> TCM KINGDOM</a>

<div class="topnav">
    <a class="nav_container" href="#home"><b>Home</b></a>
    <a class="nav_container" href="#news"><b>Sobre</b></a>
    <a class="nav_container" href="#contact"><b>Github</b></a>
</div>
</div>
</body>

</html>